# VITE_SUPABASE_URL: URL of the Supabase project
VITE_SUPABASE_URL=""

# VITE_SUPABASE_ANON_KEY: Public Anon Key of the Supabase project
VITE_SUPABASE_ANON_KEY=""

# VITE_WHATSAPP_NUMBER: El número de WhatsApp (con código de país, sin el +, ej 584121234567)
VITE_WHATSAPP_NUMBER="584120000000"
